.profile__edit-button {
  min-width: 10px;
  min-height: 10px;
  padding: 6px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .profile__edit-button {
    min-width: 7.5px;
    min-height: 7.5px;
    padding: 4.25px;
  }
}