.header__logo {
  height: 33px;
  width: 142px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .header__logo {
    height: 24.4px;
    width: 103.74px;
    margin-left: 27px;
  }
}
