.profile__title {
  margin: 0 18px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  min-height: 39px;
}

@media screen and (max-width: 980px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-left: 28px;
    margin-right: 10px;
    max-width: 189px;
    min-height: 26px;
  }
}


/*
@media screen and (max-width: 980px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-left: 28px;
    margin-right: 10px;
    max-width: 189px;
    min-height: 26px;
  }
}