.profile__add-button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 35px 0;
  cursor: pointer;
  width: 150px;
  min-height: 50px;
  background-color: #000000;
  background-image: url(../../../images/add-button-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 980px) {
  .profile__add-button {
    min-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

.profile__add-button:hover {
  opacity: .6;
}