.elements {
  display: grid;
  justify-content: center;
  margin: 51px auto 0;
  padding: 0;
  min-height: 744px; 
  width: 880px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 980px) {
  .elements {
    margin-top: 36px;
    width: calc(100vw - 400px);
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 730px) {
  .elements {
    width: calc(100vw - 250px);
  }
}

@media screen and (max-width: 600px) {
  .elements {
    min-width: calc(100vw - 38px);
  }
}
