.popup__close {
  all: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/Close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .popup__close {
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
  }
}

.popup__close:hover {
  opacity: .6;
}